
# Environment Variables (Secrets)
.env
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Spotify Cache
.spotify_device_id
.spotify_token_cache
spotify_cache/

# Logs
*.log
debug_log_*.txt
